/*first stage*/
body{
	padding:0;
	margin:0;
	font-family:"Cairo", sans-serif;
	}
		.group{
			border:solid 1px #eee;
			border-top:5px;
			border-right:5px;
			border-left:5px;
			box-shadow:1px 1px 5px #000;
			background-color:#fff;
			}
		.h2{
          margin-left:5%;
          flex-basis:100%;
          text-align:left;
          }
         b{
          color: #f6a9a9;
          font-size:20px;
          font-weight:bold;
           }
                    /*second stage*/
           .photo{
           	width:200px;
               margin:5px auto;
               mix-blend-mode: multiply;
           	}
           dt{
           	font-weight:bold;
               font-size:20px;
           	}
           .first{
           	background-color:#fdefef;
           	}
           strong{
           	color: #f6a9a9;
           	}
           .am{
           	color:#f6a9a9;
           	}