/*first stage*/
body{
	padding:0;
	margin:0;
	font-family:"Cairo", sans-serif;
	}
		.group{
			display:flex;
			align-items: center;
			border:solid 1px #eee;
			border-top:5px;
			border-right:5px;
			border-left:5px;
			box-shadow:2px 2px 5px #000;
			background-color:#fff;
			}
			background {
				background-color:#fdefef;
				}
		.h2{
          margin-left:5%;
          flex-basis:100%;
          text-align:left;
          }
          b{
          color: #f6a9a9;
          font-size:20px;
          font-weight:bold;
           }
           strong{
           	color: #f6a9a9;
           	}
           /*second stage*/
           .photo{
           	width:200px;
               margin:5px auto;
               mix-blend-mode: multiply;
           	}
           dt{
           	font-weight:bold;
               font-size:20px;
           	}
           .first{
           	background-color:#fdefef;
           	}
           .b{
          	color: #f6a9a9;
          font-size:20px;
           	}
           /*list*/
           .list{
           	border:dashed 3px #cdbba7;
           background-color:#dad0c2;
           height:auto;
           	}
           .list span{
           	color:red;
           font-weight:bold;
           	}
           .come{
           	color:#D70002;
           	}
           .comment {
           color: black;
           border:solid;
           border-radius:20px 0px 20px;
           	}
           .svgs{
           	display: flex;
           	flex-direction:row;
                align-items: center;
                justify-content: center;
           	}
           .head{
           	text-align: center;
           	}
           .share{
           	background-color:#3D087B;
           color: white;
           	}
           SVG{
           	flex-basis:50px;
           	}
           @media (min-width:900px){
           	dd{
           	width:400px;
           font-size:35px;
           font-family:sans-serif;
           	}
           .photo{
           	width:40%;
               margin:5px auto;
               mix-blend-mode: multiply;
           	}
           	}
           footer{
           	text-align: center;
           	}